html, body, #root {
  height: 100%;
}

body {
  background-color: #DDD;
}

.body-container {
  margin-top: 2rem;
}

.card-actions-header {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  padding: 1rem;
  margin-bottom: 1rem;
}

.breadcrumb {
  margin-bottom: unset;
}

.nav-icons {
  justify-content: space-between;
  width: 8rem;
  display: flex;
}

.nav-icon i {
  margin-right: 0.5rem;
}

.dropdown {
  min-height: 3.5rem !important;
}