/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';


html, body { height: 100%; background-color: #ddd; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-card-title {
  font-size: 2rem;
  margin-bottom: 1rem !important;
}
