<mat-card>
  <mat-card-header>
    <mat-card-title>Create Neighborhood</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Link</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col col-3">
        <mat-form-field>
          <mat-label>Metropolitan Area</mat-label>
          <mat-select>
            <mat-option value="dc">DC</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col col-3">
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select>
            <mat-option value="dc">DC</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Elementary School Score</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Middle School Score</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>High School Score</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Minimum Value</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Maximum Value</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Minimum Sq. Ft.</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Maximum Sq. Ft.</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary">Submit</button>
  </mat-card-content>
</mat-card>

