<p>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button routerLink="/create-metro" mat-menu-item>
      <span>Metro</span>
    </button>
    <button routerLink="/create-city" mat-menu-item>
      <span>City</span>
    </button>
    <button routerLink="/create-neighborhood" mat-menu-item>
      <span>Neighborhood</span>
    </button>
  </mat-menu>
</p>
<div class="container">
  <mat-card class="breadcrumb-card">
    <xng-breadcrumb></xng-breadcrumb>
  </mat-card>
  <router-outlet></router-outlet>
</div>
