@use '../node_modules/material-colors/dist/colors.scss';

.images-stack {
  overflow-x: auto;
  height: 14rem;
}

.images-card {
  padding: 1rem 2rem;
}

.image-item {
  height: 14rem;
}

.labeled-image-item {
  height: 14rem;
  width: 20rem;
}

.no-image-item {
  height: 14rem;
  width: 20rem;

  .image {
    height: 12rem;
    width: 20rem;
    background-color: colors.$md-blue-900;
    color: white;
    text-align: center;
    display: flex;

    i {
      margin: auto;
      font-size: 7rem;
    }
  }

  .image-label {

  }
}