@use 'vendors';
@use '../node_modules/material-colors/dist/colors.scss';
@use 'images';

html, body, #root {
  height: 100%
}

.dropzone-wrapper {
  display: flex;
  height: 100%;

  .dropzone-text {
    text-align: center;
    margin: auto 0;
  }
}

.cities-container {
  margin-top: 1rem;
}

.auth-box-wrapper {
  justify-content: center;
  height: 100%;
  background-color: colors.$md-blue-900;
}

.nav-right {
  color: white;
  font-size: 1rem;
}

.card-header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}
