html, body, #root {
  height: 100%;
}

body {
  background-color: #DDD;
}

.body-container {
  margin-top: 2rem;
}

.card-actions-header {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  padding: 1rem;
  margin-bottom: 1rem;
}

.breadcrumb {
  margin-bottom: unset;
}

.nav-icons {
  justify-content: space-between;
  width: 8rem;
  display: flex;
}

.nav-icon i {
  margin-right: 0.5rem;
}

.dropdown {
  min-height: 3.5rem !important;
}

.dropzone-wrapper {
  display: flex;
}

.dropzone-text {
  width: 100%;
  text-align: center;

  p {
    margin-top: 3rem;
  }

  i {
    font-size: 2rem;
    margin: 2rem;
  }
}

.images-stack {
  overflow-x: auto;
}

.images-stack img {
  max-height: 10rem;
}

.labeled-image-item img {
  max-height: 10rem;
}

.no-image-item .image {
  height: 10rem;
  min-width: 11rem;
  display: flex;

  i {
    margin: auto;
  }
}

.react-number-card {
  background: white;
  color: black;
}
