@use 'bootstrap/scss/bootstrap-reboot';

html, body, #root {
  height: 100%
}

.dropzone-wrapper {
  display: flex;
  height: 100%;

  .dropzone-text {
    text-align: center;
    margin: auto 0;
  }
}