<mat-card>
  <mat-card-header>
    <mat-card-title>Create Metro</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Extended Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col col-2">
        <mat-form-field>
          <mat-label>Short Name</mat-label>
          <input matInput [maxLength]="3">
        </mat-form-field>
      </div>
      <div class="col col-2">
        <mat-form-field>
          <mat-label>Population</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col col-2">
        <mat-form-field>
          <mat-label>Metro Size Rank</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
